.wrapper {
    align-self: center;
    padding-left: 3vw;
    padding-right: 3vw;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: flex-start;
}
.formTitle {
    width: 100%;
    font-weight: 400;
    font-size: 32px;
    color: #FFFFFF;
    text-align: center;
}
.formSubTitle {
    width: 100%;
    font-weight: 275;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
}
.formFields {
    width: 100%;
    justify-content: flex-start;
    z-index: 1;
}
.bottomImage {
    position: absolute;
    bottom: 1vh;
    left: 0;
}
.submitButton {
    width: 100%;
}
