.pinkButton {
    background: linear-gradient(133.3deg, #743B8B 11.35%, #C77733 171.96%);
    border-radius: 70px;
    padding: 17px 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    background-clip: padding-box;
    border: 0;
}
.pinkButtonWrapper {
    border: 11px solid rgba(255, 255, 255, 0.06);
}
.pinkNext {
    display: inline-flex;
    gap: 10px;
    align-items: center;
}
.pinkNext span {
    display: flex;
}
.pinkNext span img {
    height: 20px;
}
.pinkJustPlay {
    width: 86px;
    height: 86px;
    padding: 20px 27px;
}
.transparentButton {
    background: transparent;
    border: 1px solid #ffffff;
    border-radius: 70px;
    padding: 17px 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    background-clip: padding-box;
}
.simpleLinkButton {
    background: transparent;
    border: 0;
    border-radius: 70px;
    padding: 17px 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    background-clip: padding-box;
}